-promociones_image = ["banner1.jpg","banner1.jpg","banner1.jpg"]
!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title UNIPESA
    %meta{name:"Description", content:"Venta de botas y articulos para el sector industrial"}
    %link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
    %link{rel:"stylesheet", href:"CSS/normalize.css"}
    %link{rel:"stylesheet", href:"CSS/bootstrap.css"}
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"CSS/style.css"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{:"data-name"=> "img-counter", content:"#{promociones_image.size - 1}"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estas usando un navegador
      %strong desactualizado
      Por favor
      %a{href:"http://browsehappy.com/"}
      actualiza tu navegador
      para una mejor experiencia
    ="<![endif]-->"
    .video-container
      %img{src:"/img/bodega.png"}

    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %img{src:"/img/logo.png", width:100}
          %h1.no-margin UNIPESA
          %p#is-open
            %i.glyphicon.glyphicon-time Abierto Ahora
      %nav.fixed.top.right.navigation.white-text#navigation
        -menu = ["Inicio", "Articulos", "Promociones", "Contacto", "Como llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Uniformes petroleros S.A. de C.V.
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation#responsive-nav
                %i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle#menu-opener
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a{}= item
    .text-center.relative#articulos
      .absolute.white#menu-title
        %h2.black.title.white-text{style:"margin: 0px 0px;"} Articulos
      -art_photos = [{name:"Mersol con elastometro", image:"bota", pricing:"$480.00"}, {name:"Uniforme desechable", image:"traje",pricing:"$00.00"}, {name:"Cable Negro 7mm", image:"cable",pricing:"$00.00"}]
      .row
        -art_photos.each do |photo|
          .col-md-4.col-lg-4.col-sm-6.col-xs-12.food{style:"background-image:url(/img/articulos/#{photo[:image]}.png)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.subtitle= photo[:name]
                  %p.no-margin= photo[:pricing]
    #gallery
      .inner
        -promociones_image.each do |image|
          .image{style:"background-image:url(/img/promociones/#{image})"}
    .container
      .card.white.black-text.text-center.relative
        %h3.slim UNIFORMES PETROLEROS S.A. DE C.V.
        %p.text-justify.top-space Somos una fabrica aptos para el sector industrial con articulos ideales para proteger al trabajador, altamente resistentes, durables y de uso continuo.
        Para nosotros lo mas importante es la satisfaccion total del cliente, para ellos nos esforzamos por brindar un servicio completo:
        %strong calidad, servicio y precio.
        %br
        %br
        %p No lo piense mas y pregunte para ofrecerle una cotizacion, sin ningun compromiso
        .large-padding.medium.black.white-text.text-center Pronto podras comprar en nuestra tienda en linea
    .black.white-text.full-height#contact
      .row.middle-xs.full-height
        .col-xs-12
          .box
            %p.text-center.medium#info-contacto Presiona enter para llenar el campo correspondiente y enviarnos un correo.
            %form{action:"https://formspree.io/braga528@gmail.com",method:"POST",id:"contact-form",class:"step-form"}
              .row.center-xs
                .col-xs-2.col-md-1.text-center
                  .box
                    -3.times do |i|
                      -if i = 0
                        .path-step
                      -else
                        .path-step
                      %br  
                .col-xs-5
                  .box
                    %fieldset.step.active
                      %input{type:"email",name:"email",placeholder:"Tu correo electronico",class:"input",required:true}
                    %fieldset.step
                      %input{type:"text",name:"name",placeholder:"Tu nombre",class:"input",required:true}
                    %fieldset.step
                      %textarea{name:"body",placeholder:"Mensaje",class:"input",required:true}
    #location
      #map
      #message.black.large-padding.white-text.text-center.medium                      
  
  %script{src:"http://code.jquery.com/jquery-3.1.1.min.js",
  integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
  crossorigin:"anonymous"}
  :javascript
    window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>");
  %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyAewnh7paqJOCSmOQIHUzj5kYsXb8sKoKc"}  
  %script{src:"/dist/maps.js"}  
  %script{src:"/dist/form_object.js"}  
  %script{src:"/dist/main.js"}
  %script{src:"/dist/step.js"}     
      


  